:host {
  // button通用
  --wcu-button-width:auto;
  --wcu-button-color-white:#fff;
  --wcu-button-color-primary:#409eff;
  --wcu-button-color-danger:#f56c6c;
  --wcu-button-color-warning:#e6a23c;
  --wcu-button-color-success:#67c23a;
  --wcu-button-color-info:#909399;
  display: inline-block;
  button{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80px;
    height: 40px;
    background: var(--wcu-button-color-white);
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    color: #606266;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: .1s;
    white-space: nowrap;
    margin: 0;
    box-sizing: border-box;
    &.large{
      height: 50px;
      padding: 8px 20px;
      font-size: 14px;
    }
    &:hover,&:active{
      color: var(--wcu-button-color-primary);
      border-color: var(--wcu-button-color-primary);
    }
    &.text{
      background: var(--wcu-button-color-white);
      color: #606266;
      border:none;
    }
  }
  button .disabled{
    cursor: not-allowed;
  }

}


.wcu-button-primary{
  background: #2e90fa;
  color: #fff;
  border:1px solid #2e90fa;
}
.wcu-button-primary:hover,.wcu-button-primary:active{
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}

.wcu-button-danger{
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.wcu-button-danger:hover,.wcu-button-danger:active{
  background: #f78989;
  border-color: #f78989;
  color: #fff;
}

.wcu-button-success{
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}
.wcu-button-success:hover,.wcu-button-success:active{
  background: #5daf34;
  border-color: #5daf34;
  color: #fff;
}
.wcu-button-info{
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.wcu-button-info:hover,.wcu-button-info:active{
  background: #82848a;
  border-color: #82848a;
  color: #fff;
}
.wcu-button-warning{
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.wcu-button-warning:hover,.wcu-button-warning:active{
  background: #cf9236;
  border-color: #cf9236;
  color: #fff;
}
.disabled{
  color: #c0c4cc;
  cursor: not-allowed;
  border-color: #c0c4cc;
  background-color: #fff;
}
