:host {
  --wcu-button-width:auto;
  --wcu-button-color-white:#fff;
  --wcu-button-color-primary:#409eff;
  --wcu-button-color-danger:#f56c6c;
  --wcu-button-color-warning:#e6a23c;
  display: inline-block;
  button{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 98px;
    height: 28px;
    background: var(--wcu-button-color-white);
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    color: #606266;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: .1s;
    white-space: nowrap;
    margin: 0;
    box-sizing: border-box;
    &.large{
      height: 36px;
      padding: 8px 20px;
      font-size: 14px;
    }
    &:hover,&:active{
      color: var(--wcu-button-color-primary);
      border-color: var(--wcu-button-color-primary);
    }
  }
  button .disabled{
   cursor: not-allowed;
}
}
